################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AquaPark/.vs/AquaPark.slnx
/AquaPark/obj
/AquaPark/bin/Debug/net10.0-windows
